Repository SeL-Lgt/multiLanguage-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run prettier

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npm run eslint"],
  "*.{json,md}": ["npm run prettier"]
}

chore: 调整插件位置
  package.json
Due: npm run prettier

feat: 请求实体新增上线10MB
  src/app.ts
Due: npm run eslint

feat: 分页返回参数修改为Number类型
  src/services/CopyWritingServices.ts
  src/services/MarkServices.ts
  src/services/ModulesServices.ts
  src/services/SubModulesServices.ts
Due: npm run eslint

feat: 标准查询时不会搜索基础项
  src/entity/Base.ts
Due: npm run eslint

feat: 修改文案excel下载路径
  src/dao/CopyWritingDao.ts
  src/router/copyWriting.ts
  src/services/CopyWritingServices.ts
Due: npm run eslint

feat: 新增下载json接口
  src/router/copyWriting.ts
  src/services/CopyWritingServices.ts
Due: npm run eslint

feat: 新增导出数据转tree结构
  src/services/CopyWritingServices.ts
  src/util/dataConversionTree.ts
Due: npm run eslint

fix: 修复导出文案json结构不合理的问题
  src/util/dataConversionTree.ts
Due: npm run eslint

fix: 修改实体类加载
  src/util/app-data-source.ts
Due: npm run eslint

fix: 修改pkg打包后实体类无法加载问题
  package.json
  src/util/app-data-source.ts
Due: npm run eslint, npm run prettier

feat: 去除导出文案excel多余字段
  src/entity/CopyWriting.ts
  src/services/CopyWritingServices.ts
Due: npm run eslint

docs: README.md文档说明
  README.md
Due: npm run prettier

chore: 修改数据库环境配置
  envs/.env.dev
  envs/.env.prod
  src/util/app-data-source.ts
Due: npm run eslint

fix: 修复ts升级到4.8.4，类型推断问题
  package.json
  src/util/importExcelFromBuffer.ts
Due: npm run eslint, npm run prettier

docs: README.md补充在线地址
  README.md
Due: npm run prettier
